*Makefile.in
configure
aclocal.m4
config.h.in*
m4/*
!m4/*.am
*.creator.user*
doc/doc-install.pl
doc/doc-postprocess.pl
doc/tagfile-to-devhelp2.xsl
doc/doxygen.css
autom4te.cache
wnck/src/.stamps/*
wnck/wnckmm/*.h
wnck/wnckmm/private/*.h
wnck/wnckmm/*.cc
!wnck/wnckmm/init.h
!wnck/wnckmm/init.cc
!wnck/wnckmm/wrap_init.h
!wnck/wnckmm/wrap_init.cc
